body{
    font-family: "Poppins",sans-serif;
    background-image: linear-gradient(rgba(215, 182, 125, 0.9),rgba(104, 115, 178, 0.9)),url(todolistimage/todolist.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
}
.container{
    padding: 10px;
    border: 1px solid #BCB9B8;
    width: 40%;
    margin: auto;
    margin-top: 300px;
    border-radius: 350px;
}
.container .input{

    width: 87%;
    height: 40px;
    border-radius: 150px;
}
.container .btn{
    width: 10%;
    height: 40px;
    background-color: pink;
    border-radius: 70px;
}
.container ul {
    list-style: none;
    padding: 0px;
}

.container li {
    color: rgb(199, 124, 11);
}

.container li a {
    float: right;
    color: #000;
    text-decoration: none;
    font-weight: bold;
}

.container #error {

    color: red;
    font-size: 14px;
}